<div id="content">
  <h1>Patrocinador Diamante</h1>
  <br><br><br>
  <h1>Patrocinador Ouro</h1>
  <a href="http://www.triadworks.com.br"><img src="images/triadworks.png" /></a> 
  <br><br><br>
  <h1>Patrocinador Prata</h1>
  <a href="http://www.caelum.com.br"><img src="images/caelum_logo_transparent.png" /></a> 
  <br><br><br>          
  <h1>Patrocinador Bronze</h1>
  <br><br><br>
  <h1>Organização</h1>
  <a href="http://www.milfont.org"><img src="images/milfont_consulting.png" /></a> 
</div>
<div id="side">

  <h1>Apoio</h1>
  <a href="http://www.fa7.edu.br/"><img src="images/LOGO_FA7.gif" /></a> 
  <br><br><br>        

  <a href="https://developer.mozilla.org/en/JavaScript/Reference"><img src="http://static.jsconf.us/promotejshs.png" /></a> 

  <h1>Twitter</h1>
  <div id="twtr-widget"></div>

</div>
