        <div id="content">
          <h1>Patrocinadores</h1>
          <a href="http://www.php.net/manual/pt_BR/intro-whatis.php" target="_blank"><img src="http://www.gogs.com.br/img/logoPHP.gif" alt="PHP" /></a> 
          <a href="http://www.rubyonrails.pro.br/" target="_blank"><img src="http://www.gogs.com.br/img/logoRails.gif" alt="Ruby on Rails" /></a> 
          <a href="http://www.w3c.br/sobre/" target="_blank"><img src="http://www.gogs.com.br/img/logoW3C.gif" alt="W3C" /></a> 
          <a href="http://drupal.org/about" target="_blank"><img src="http://www.gogs.com.br/img/logoDrupal.gif" alt="Drupal" /></a> 
          <a href="http://br.wordpress.org/" target="_blank"><img src="http://www.gogs.com.br/img/logoWordpress.gif" alt="Wordpress" /></a> 
          <a href="http://jquery.com" target="_blank"><img src="http://www.gogs.com.br/img/logoJquery.gif" alt="jQuery" /></a> 
          <a href="http://www.python.org.br/wiki" target="_blank"><img src="http://www.gogs.com.br/img/logoPython.gif" alt="Python" /></a>
          <br><br><br>
          <h1>Tecnologias</h1>
          <a href="http://www.rubyonrails.pro.br/" target="_blank"><img src="http://www.gogs.com.br/img/logoRails.gif" alt="Ruby on Rails" /></a> 
          <a href="http://www.w3c.br/sobre/" target="_blank"><img src="http://www.gogs.com.br/img/logoW3C.gif" alt="W3C" /></a> 
          <a href="http://drupal.org/about" target="_blank"><img src="http://www.gogs.com.br/img/logoDrupal.gif" alt="Drupal" /></a> 
          <a href="http://br.wordpress.org/" target="_blank"><img src="http://www.gogs.com.br/img/logoWordpress.gif" alt="Wordpress" /></a> 
          <a href="http://jquery.com" target="_blank"><img src="http://www.gogs.com.br/img/logoJquery.gif" alt="jQuery" /></a> 
          <a href="http://www.python.org.br/wiki" target="_blank"><img src="http://www.gogs.com.br/img/logoPython.gif" alt="Python" /></a>
        </div>
        <div id="side">
          <h1>Novidades</h1>
          <ul>
            <li><b>Coisa de negócio de mãe</b><br>
            Nada do que se possa dizer da vida é o que se faz com que possa ser vivida.
            </li>
            <li><b><a href=''>Jaspion, daileon</a></b><br>
            Naka kiroto motoro migua matã vilo; Naka kiroto motoro migua matã vilo; Naka kiroto motoro migua matã vilo. Naka kiroto motoro migua matã vilo;
            </li>
            <li><b>Coisa de negócio de mãe</b><br>
            Nada do que se possa dizer da vida é o que se faz com que possa ser vivida.
            </li>
            <li><b>Jaspion, daileon</b><br>
            Naka kiroto motoro migua matã vilo; Naka kiroto motoro migua matã vilo; Naka kiroto motoro migua matã vilo. Naka kiroto motoro migua matã vilo;
            </li>
          </ul>
        </div>