        <div id="content">
          <h1>Patrocinador Diamante</h1>
          <a href="#"><img src="#" /></a> 
          <br><br><br>
          <h1>Patrocinador Ouro</h1>
          <a href="http://www.triadworks.com.br"><img src="images/LogoTriadWorks.jpg" /></a> 
          <br><br><br>
          <h1>Patrocinador Prata</h1>
          <a href="#"><img src="#" /></a> 
          <br><br><br>          
          <h1>Patrocinador Bronze</h1>
          <a href="#"><img src="#" /></a> 
        </div>
        <div id="side">
          
          <h1>Apoio</h1>
          
          <a href="http://www.fa7.edu.br/"><img src="images/logo_fa7.jpg" /></a> 
          <br><br><br>        
          
          <h1>Organização</h1>
          <a href="http://www.milfont.org"><img src="images/Milfont_marca_bg_blackx200.jpg" /></a> 
          <br><br><br>
          <h1>Twitter</h1>
          <div id="twtr-widget"></div>


        </div>