<div id="content">
  <h1>Diamond Sponsor</h1>
  <a href="http://www.unum.com.br"><img src="images/unum.png" /></a> 
  <br><br><br>
  <h1>Gold Sponsor</h1>
  <a href="http://www.triadworks.com.br"><img src="images/triadworks2.png" /></a> 
  <br><br><br>
  <h1>Silver Sponsor</h1>
  <a href="http://www.caelum.com.br"><img src="images/caelum_logo_transparent.png" /></a> 
  <br><br><br>          
  <h1>Bronze Sponsor</h1>
  <a href="http://www.github.com"><img src="images/github.png" /></a> 
  <br><br><br>
  <h1>Organization</h1>
  <a href="http://www.milfont.org"><img src="images/milfont_consulting.png" /></a> 
</div>
<div id="side">

  <h1>Support</h1>
  <a href="http://www.fa7.edu.br/"><img src="images/LOGO_FA7.gif" /></a> 
  <br><br><br>        

  <a href="https://developer.mozilla.org/en/JavaScript/Reference"><img src="http://static.jsconf.us/promotejshs.png" /></a> 

  <h1>Twitter</h1>
  <div id="twtr-widget"></div>

</div>
