<div id="content">
  <h1><span>Inscrições</span></h1>
  <div>

    <p>O valor da inscrição custa R$120,00 reais e a partir do dia 15/04/2011 custará R$250,00 reais.</p>
    <p>As inscrições serão encerradas no dia 01/05/2011.</p>
        
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="K8VWHAKP2SN9C">
    <table>
    <tr><td><input type="hidden" name="on0" value="Nome Completo">Nome Completo</td></tr><tr><td><input type="text" name="os0" maxlength="60"></td></tr>
    <tr><td><input type="hidden" name="on1" value="Email">Email</td></tr><tr><td><input type="text" name="os1" maxlength="60"></td></tr>
    </table>
    <input type="image" src="https://www.paypal.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  
    <h2><span>Pagamento com opção de boleto</span></h2>
    <p>Caso seja boleto, a confirmação de inscrito ocorrerá somente após a confirmação de recebimento do valor no boleto e email de contato com informações do inscrito.</p>
    <form method='post' action='https://www.moip.com.br/PagamentoSimples.do'>
      <input type='hidden' name='id_carteira' value='cmilfont'/>
      <input type='hidden' name='valor' value='12000'/>
      <input type='hidden' name='nome' value='BrazilJS2011-boleto120'/>
      <input type='image' name='submit' src='https://www.moip.com.br/imgs/buttons/bt_pagar_c04_e02.gif' alt='Pagar' border='0' />
    </form>

    
  </div>
  
  <h2><span>Deseja fazer uma doação ao evento?</span></h2>  
  <div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="Q2B7DPG7Q3DBN">
    <input type="image" src="https://www.paypal.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos on-line!">
    <img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  
</div>
