<div id="content">
  <h1><span>Inscrições</span></h1>
  <div>

    <p>O valor da inscrição custa R$250,00 reais.</p>
    <p>As inscrições serão encerradas no dia 01/05/2011.</p>
    <p>Apenas pagamentos pelo Paypal estão disponíveis.</p>
       
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="39CFM5JNRCZV8">
    <table>
    <tr><td><input type="hidden" name="on0" value="Nome Completo">Nome Completo</td></tr><tr><td><input type="text" name="os0" maxlength="60"></td></tr>
    <tr><td><input type="hidden" name="on1" value="Email">Email</td></tr><tr><td><input type="text" name="os1" maxlength="60"></td></tr>
    </table>
    <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos on-line!">
    <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/pt_BR/i/scr/pixel.gif" width="1" height="1">
    </form>
    
  </div>
  
  <h2><span>Deseja fazer uma doação ao evento?</span></h2>  
  <div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="Q2B7DPG7Q3DBN">
    <input type="image" src="https://www.paypal.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos on-line!">
    <img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  
</div>
