<div id="contentquemsomos">
  <h1><span>About us</span></h1>
  
  <div class="quemsomos">
    <p>
      <a href="http://about.me/cmilfont"> <img src="images/cmilfont.jpg" /> </a><br />
      <span>Christiano Milfont</span>
      <br/>
    </p>
  </div>
  
  <div class="quemsomos">
    <p>
      <a href="http://felipenmoura.org/pt"> <img src="images/felipe.jpg" /> </a><br />
      <span>Felipe Nascimento de Moura</span>
      <br/>
    </p>
  </div>
  
  <div class="quemsomos">
    <p>
      <a href="http://franciscobarroso.blogspot.com/"> <img src="images/barroso.jpg" /> </a><br />
      <span>Francisco Barroso</span>
      <br/>
    </p>
  </div>
  
  <div class="quemsomos">
    <p>
      <a href="http://www.gogs.com.br/"> <img src="images/gogo.jpg" /> </a><br />
      <span>Henrique Soares</span>
      <br/>
    </p>
  </div>
    
  <div class="quemsomos">
    <p>
      <a href="http://www.jaydson.org/"> <img src="images/jaydson.jpg" /> </a><br />
      <span>Jaydson Gomes</span>
      <br/>
    </p>
  </div>

</div>
